<!-- Website Content -->

<section>
    <img class="img-fluid services-img" src="/Assets/images/services_pic_1.jpg" alt="General Programming">
    <div><p class="services-p">General Programming</p></div>

    <img class="img-fluid services-img" src="/Assets/images/services_pic_4.png" alt="Tutoring">
    <div><p class="services-p">Tutoring</p></div>

    <img class="img-fluid services-img" src="/Assets/images/services_pic_2.jpg" alt="Web Development">
    <div><p class="services-p">App Development</p></div>
     
    <img class="img-fluid services-img" src="/Assets/images/services_pic_3.jpg" alt="App Programming">
    <div><p class="services-p">Web Design</p></div>
</section>