<header class="index-header">
  <!-- Main Navigation Bar -->
  <%- include ./navbar_index.ejs %>

  <!-- Header content -->
  <div>
    <img class="index-pic-1 img-responsive mx-auto d-block" src="/Assets/images/index_pic_1.jpg" alt="Santiago Yepes">
  </div>

  <div class="index-header-text">
    <h5 class="index-h5">MY NAME IS</h5>
    <h1 class="index-h1">SANTIAGO YEPES</h1>
    <hr class="index-hr">
    <h4 class="index-h4">PASSIONATE SOFTWARE ENGINEER</h4>
  </div>

  <div class="index-header-buttons">
    <a class="index-header-btn index-btn-full" href="/about"><i class="fas fa-id-card"></i> Show me more</a>
    <a class="index-header-btn index-btn-ghost" href="/contact"><i class="fas fa-phone"></i> Contact me</a>
  </div>
</header> 