<!-- Template Main Navigation Bar -->
<nav class="custom-template-navbar navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><img class="logo" src="/Assets/images/logo_grey.png" alt="logo"></a> <!-- created on: https://www.freelogodesign.org/ -->

  <button class="custom-template-navtoggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <!--<span class="navbar-toggler-icon"></span>-->
    <i class="fas fa-bars" style="color:grey; font-size:28px;"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if (title == "Home"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/home">HOME</a>
      </li>

      <% if (title == "About"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/about">ABOUT</a>
      </li>

      <% if (title == "Portfolio"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/portfolio">PORTFOLIO</a>
      </li>

      <% if (title == "Services"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/services">SERVICES</a>
      </li>

      <% if (title == "Books"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/book-list">BOOKS</a>
      </li>

      <% if (title == "BContact"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/contact-list">BUSINESS CONTACTS</a>
      </li>

      <% if (title == "Contact"){ %>
        <li class="custom-template-nav-item custom-template-item-active nav-item nav-item-active">
        <% } else  { %>
        <li class="custom-template-nav-item nav-item">
        <% } %>
        <a class="nav-link" href="/contact">CONTACT</a>
      </li>

      <!-- LOGIN AND LOGOUT DISPLAY ON NAV BAR -->
      <% if(typeof displayName == 'string' && displayName) { %>
      <li class="navbar-text"><i class="fas fa-lg fa-user"></i>Welcome, <%= displayName %></li>
      <li class="nav-item"><a href="/logout" class="nav-link"><i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/login" class="nav-link"><i class="fas fa-lg fa-sign-int-alt"></i> Login</a></li>
      <% } %>
    </ul>
  </div>
</nav>