<!-- Website Content -->

<section class="section-portfolio-1">
    <div class="row">
        <div class="col">
            <img class="img-fluid portfolio-pic-1" src="/Assets/images/portfolio_pic_1.jpg" alt="Js">
        </div>
        <div class="col">     
            <h2 class="about-h2"><br>Javascript Projects</h2>
            <hr class="about-hr">
            <br>

            <h5 class="portfolio-h5">Search App</h5>
            <p class="about-p">This app allows the users to search for any recipe using the search box on the top, the results are link using an API that brings any dish related to the search and list the elements, the user can also se the details of each recipe.</p>
            
            <h5 class="portfolio-h5">Budget App</h5>
            <p class="about-p">The budget app allow users to organize personal finance by posting earning and expenses in a one time session.</p>

            <h5 class="portfolio-h5">Pig Game</h5>
            <p class="about-p">This is a game of luck, using the dice faces you must reach the target value by adding each dice roll, but, be aware there are several rules that will make you loose your score!</p>

            <br>
            <div class="about-btn-1">
                <a class="index-header-btn index-btn-full" href="https://github.com/syepesc/JavaScript-Projects" target="_blank"><i class="fab fa-js-square fa-lg"></i> Go ahead and check my GitHub</a> <!-- I use same class from index button wrapped in a div with about button css -->
            </div>
        </div>
    </div>
</section>

<section class="section-portfolio-2">
    <div class="row">
        <div class="col">
            <img class="img-fluid" style="max-width: 300px; max-height: 300px; margin: 20px;" src="/Assets/images/logo_html.png" alt="HTML">
        </div>

        <div class="col">
            <img class="img-fluid" style="max-width: 300px; max-height: 300px;" src="/Assets/images/logo_css.png" alt="css">
        </div>

        <div class="col">     
            <h2 class="about-h2"><br>Web Designs</h2>
            <br>
            <div class="about-btn-1">
                <a class="index-header-btn portfolio-btn-full" href="https://github.com/syepesc/Website-Designs" target="_blank"><i class="fab fa-html5 fa-lg"></i><i class="fab fa-css3-alt fa-lg"></i> Go ahead and check my GitHub</a> <!-- I use same class from index button wrapped in a div with about button css -->
            </div>
            <div class="about-btn-1">
                <a class="index-header-btn portfolio-btn-full" href="https://www.youtube.com/watch?v=Z9eR1hANd-A&t=7s" target="_blank"><i class="fab fa-youtube fa-lg"></i> Check this website coding explanation</a> <!-- I use same class from index button wrapped in a div with about button css -->
            </div>
        </div>
    </div>
</section>

<section class="section-portfolio-3">  
    <h1 class="about-h1"><br></i>AI</h1>
    <br>
    <h1 class="about-h1">Coming Soon<br><br><i class="fas fa-robot fa-lg"></i></h1>
    <br>
</section>