<!-- Website Content -->

<section class="section-home">
    <div class="jumbotron container">
        <h1 class="display-4">Welcome to my <%= title %> page</h1>
    </div>
    <div>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
</section>