<!-- Website Content -->
<section style="margin-top: 100px;">
    <h1 class="about-h1">What are you waiting for? - Contact Me!</h1>
    <hr class="about-hr">
</section>

<section style="margin-bottom: 100px; margin-top: 50px; color: #e67e22;">
    <div class="row">
        <div class="col" style="padding-left: 10%;">
                <form>
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <br>
                        <input type="text" class="form-field" name="fullName" placeholder="Enter your full name" size="50" required>
                    </div>

                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <br>
                        <input type="tel" class="form-field" id="contactNumber" name="contactNumber" placeholder="Enter your contact number" size="50" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <br>
                        <input type="email" class="form-field" id="email" name="email" placeholder="Enter your email" size="50">
                    </div>

                    <div class="form-group">
                        <label for="message">Requests</label>
                        <br>
                        <textarea class="from-field" id="message" rows="5" cols="50" name="message" placeholder="Please enter your requests"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success" id="submit">Send request!</button>
                    <button type="reset" class="btn btn-danger" id="reset">Clear form</button>
                </form>
        </div>

        <div class="col" style="margin-top: 50px;">
            <h2>Check more about me on</h2>
            <a href="https://github.com/syepesc" target="_blank"><i class="fab fa-github fa-4x" style="color: #0D324D;"></i></a>
            <a href="https://www.linkedin.com/in/syepesc/" target="_blank"><i class="fab fa-linkedin fa-4x" style="color: rgb(50,120,175);"></i></i></a>
        </div>
    </div>
</section>