<!-- Footer Section -->
<p class="services-p">
    <a href="/home">Home</a> /
    <a href="/about">About</a> /
    <a href="/portfolio">Portfolio</a> /
    <a href="/services">Services</a> /
    <a href="/contact">Contact</a>
    <br>
    Made with <i class="fas fa-heart"></i> by Santiago Yepes - &copy; Copyright 2020. All Rights reserved.
</p>



