<header class="index-header">
  <!-- Main Navigation Bar -->
  <%- include ./navbar_index.ejs %>

  <!-- Header content -->
  <div>
    <img class="index-img-responsive img-responsive mx-auto d-block" src="/Assets/images/me_mountainBackground.jpeg" alt="Santiago Yepes">
  </div>

  <div class="index-header-text">
    <h5>MY NAME IS</h5>
    <h1>SANTIAGO YEPES</h1>
    <hr class="index-hr">
    <h4>FINANCIAL & SOFTWARE ENGINEER</h4>
  </div>

  <div class="index-header-buttons">
    <a class="index-header-btn index-btn-full" href="/about"><i class="fas fa-id-card"></i> Show me more</a>
    <a class="index-header-btn index-btn-ghost" href="/contact"><i class="fas fa-phone"></i> Contact me</a>
  </div>
</header> 