<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include partials/global_head.ejs %>
  </head>

  <body>
    <%- include partials/index_header.ejs %>

    <%- include partials/index_content.ejs %>

    <%- include partials/global_footer.ejs %>
  </body>
  
</html>