<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/head_global.ejs %>
  </head>

  <body>
    <%- include partials/header_index.ejs %>
    <%- include partials/content_index.ejs %>
  </body>
  
  <footer>
  </footer>

  <%- include partials/scripts_global.ejs %>
</html>