/* Custom CSS */


/* -------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif; /* more than one in case user don't have internet */
    font-weight: 300;
    font-size: 20px;
}

html {
    max-width: 2280px;
    margin: auto;
}


.logo {
    /* created on: https://www.freelogodesign.org/ */
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

i {
    margin-right: 10px;
}

.col {
    margin: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

/* CUSTOM CSS */

/* --------------------------------------------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------------------------- */
/* FONTS */
/* -------------------------------------------------------------------------------------------- */



/* INDEX FONTS */
/* -------------------------------------------------------------------------------------------- */

.index-h1,
.index-h4,
.index-h5 {
    color: white;
}

.index-hr {
    border: 1px solid white;
    width: 550px;
    margin: auto;
}


/* ABOUT FONTS */
/* -------------------------------------------------------------------------------------------- */

.about-h2,
.about-h1 {
    color: grey;
    text-align: center;
}

.about-hr {
    border: 1px solid #e67e22;
    width: 450px;
    margin: auto;
}

.about-p {
    color: grey;
    text-align: center;
    padding-right: 5%;
}

.about-p-2 {
    position: absolute; 
    bottom: 5%;
    width: 100%;
    color: white;
    text-align: center;
}

.about-p-3 {
    color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
}

/* PORTFOLIO FONTS */
/* -------------------------------------------------------------------------------------------- */

.portfolio-h5 {
    color: grey;
    text-align: center;
    font-weight: bold;
}

/* SERVICES FONTS */
/* -------------------------------------------------------------------------------------------- */

.services-p {
    color: #e67e22;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

/* FOOTER FONTS */
/* -------------------------------------------------------------------------------------------- */

.services-p {
    text-align: center;
    color: grey;
}

.services-p a{
    text-align: center;
    color: grey;
}



/* -------------------------------------------------------------------------------------------- */
/* HEADERS */
/* -------------------------------------------------------------------------------------------- */



/* INDEX HEADER */
/* -------------------------------------------------------------------------------------------- */

.index-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/images/workspace.jpg);
    background-color: black;
    /* fit in header box */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* relative to 1% of viewport width */
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.index-header-text {
    margin-top: 5%;
    color: white;
    text-align: center;
}


/* -------------------------------------------------------------------------------------------- */
/* NAVBARS */
/* -------------------------------------------------------------------------------------------- */

.navbar .navbar-nav{
    margin: 0 auto;
}

/* INDEX NAVBAR */
/* -------------------------------------------------------------------------------------------- */

.custom-index-navbar{
    background-color: transparent !important;
}

.custom-index-nav-item  a {
    color: white !important;
    margin-right: 50px;
}

.custom-index-item-active a{
    color: #e67e22 !important;
    font-weight: bold;
    border-bottom: 2px solid #e67e22;
}

.custom-index-nav-item a:hover,
.custom-index-nav-item a:active {
    color: #e67e22 !important;
    border-bottom: 2px solid #e67e22;
    transition: border-bottom 0.5s;
}

.custom-index-navtoggler {
    border-color: white !important;
    margin-left: 12px;
} 

/* TEMPLATE NAVBAR */
/* -------------------------------------------------------------------------------------------- */

.custom-template-navbar{
    background-color: transparent !important;
}

.custom-template-nav-item  a {
    color: grey !important;
    margin-right: 50px;
}

.custom-template-item-active a{
    color: #e67e22 !important;
    font-weight: bold;
    border-bottom: 2px solid #e67e22;
}

.custom-template-nav-item a:hover,
.custom-template-nav-item a:active {
    color: #e67e22 !important;
    border-bottom: 2px solid #e67e22;
    transition: border-bottom 0.5s;
}

.custom-template-navtoggler {
    border-color: gray !important;
    margin-left: 12px;
} 

/* -------------------------------------------------------------------------------------------- */
/*  IMAGES */
/* -------------------------------------------------------------------------------------------- */


/* INDEX IMAGES */
/* -------------------------------------------------------------------------------------------- */

.index-pic-1 {
    max-width: 350px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    margin-top: 5%;
}


/* ABOUT IMAGES */
/* -------------------------------------------------------------------------------------------- */
.about-pic-1 {
    min-width: 600px;
}

.custom-about-col {
    padding: 0;
    margin: 0;
}

.about-gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.about-gallery img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.about-gallery img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* PORTFOLIO IMAGES */
/* -------------------------------------------------------------------------------------------- */

.portfolio-pic-1 {
    margin: auto;
    display: block;
    height: auto;
    max-height: 500px;
    min-width: 500px;
}

/* SERVICES IMAGES */
/* -------------------------------------------------------------------------------------------- */

.services-img {
    border: 1px solid #e67e22;
    padding: 10px;
    max-width: 600px;
    height: auto;
    display: block;
    margin: auto;
}


/* -------------------------------------------------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------------------------------------------------- */



/* INDEX BUTTONS */
/* -------------------------------------------------------------------------------------------- */

.index-header-buttons{
    text-align: center;
    margin-top: 3%;
}

.index-header-btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 300;
    text-decoration: none;
    border-radius: 200px;
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.index-btn-full:link,
.index-btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
}

.index-btn-ghost:link,
.index-btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.index-btn-full:hover,
.index-btn-full:active {
    text-decoration: none;
    border: 1px solid #b05d14;
    background-color: #b05d14;
}

.index-btn-ghost:hover,
.index-btn-ghost:active {
    text-decoration: none;
    border: 1px solid #b05d14;
    background-color: #b05d14;
    color: white;
}


/* ABOUT BUTTONS */
/* -------------------------------------------------------------------------------------------- */

.about-btn-1 {
    text-align: center;
    padding-bottom: 3%;
}


/* PORTFOLIO BUTTONS */
/* -------------------------------------------------------------------------------------------- */

.portfolio-btn-full:link,
.portfolio-btn-full:visited {
    background-color: #009FFD;
    border: 1px solid #009FFD;
    color: white;
}

.portfolio-btn-full:hover,
.portfolio-btn-full:active {
    text-decoration: none;
    border: 1px solid #3EADCF;
    background-color: #3EADCF;
}


/* CONTACT BUTTONS */
/* -------------------------------------------------------------------------------------------- */

.submit-btn:link,
.submit-btn:visited {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit-btn:hover,
.submit-btn:active {
    text-decoration: none;
    border: 1px solid #b05d14;
    background-color: #b05d14;
}



/* -------------------------------------------------------------------------------------------- */
/* SECTIONS */
/* -------------------------------------------------------------------------------------------- */



/* INDEX SECTIONS */
/* -------------------------------------------------------------------------------------------- */

/*
.section-index-1 {
}
*/


/* ABOUT SECTIONS */
/* -------------------------------------------------------------------------------------------- */

.section-about-1 {
    background-color: #f4f4f4;
}

.section-about-2 {
    background-color: #fff;
}

.section-about-3 {
    background-color: #f4f4f4;
}


/* ABOUT SECTIONS */
/* -------------------------------------------------------------------------------------------- */

.section-portfolio-1 {
    background: linear-gradient(to bottom right, #f5ec00 0%, #f8fadb 100%);
    margin-bottom: 20px;
}

.section-portfolio-2 {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);    
    margin-bottom: 20px;
}

.section-portfolio-3 {
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);    
    height: 400px;
    margin-bottom: 20px;

}